/*************************** stylesheet  for (web name) **********************************/

@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: retro;
    src: url("../fonts/BungeeShade-Regular.ttf");
}

@font-face {
    font-family: bold;
    src: url(../fonts/Righteous-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}


body {
    padding: 0.1%;
    margin: 0.1%; 
    background-color: #f6f5f5;
}

body a:visited{
    color: #f6f5f5;
}


body a:hover{
    color: greenyellow;
}




iframe{
    display: block;
    width: 30vw;
    height: 30vh;
    margin: auto;
}

#up img{
    background-color: #333333;
    position: fixed;
    left: 92%;
    bottom: 5%;
    width: 5%;
    border: 3px solid #f6f5f5;
}

li, .cuarto p{
    font-size: 1.25em;
    font-family: roboto;
    padding: 10px;
    text-align: justify;
}


#container{
    width: 80%;
    margin: auto;
}

/************************** estilo nav  ***********************************/

nav{
    z-index: 2;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    font-family: roboto;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #333;
    color: greenyellow;
} 


nav{
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

nav li a:visited {
    background-color: #fff;
}

/************************** estilo de la hero section *********************/

#hero{
    background-image: url("../Images/windowsxpwallpaper-portada.jpg");
    height: 100vh;
    margin: auto;
    padding: 0%;
    background-size: cover;
    background-position: 66%;
    position: relative; /* es el bloque que contiene el lema de la página*/
}




/*Letras del título*/
.rojo{
    color: #de482b;
}

.verde{
    color: #81c046;
}

.amarillo{
    color: #fccf03;
}

#hero h1{
    position: absolute;
    margin-top: 30px;
    padding-top: 0px;
    text-align: center;
    font-family: bold;
    left: 22%;
    top: 0px;
    font-size: 6vw;
    color: white;
    text-shadow:  -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-transform: uppercase;
}

#hero h2{
    position: absolute;
    bottom: 0%;
    left: 5%;
    text-align: center;
    font-size: 4vw;
    font-family: bold;
    color: white;
}

#cta{
    font-family: bold;
    font-size: 2vw;
    color: #f6f5f5;
    position: absolute;
    bottom: 3%;
    left: 40%;
    padding: 10px;
    background-color: #333333;
    border-radius: 10%;
}

#cta:hover{
    background-color: #f6f5f5;
    color: black;
    cursor: pointer;
}



/**************************** estilo de INTRODUCTION *****************/

#intro{
    background-color: #f6f5f5;
    color: #333333;
    font-family:roboto;
    text-align: justify;
    padding: 0%;
    margin: 0%;
}


#intro h2{
    font-family: bold;
    font-size: 2em;
}


/********************* estilo columnas*************/
.half{
    width: 50%; /*********************** es el 50% de su columna*/
    float: left;
    box-sizing: border-box;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 4%;
    padding-left: 0%;

}

.half p, #intro p{
    font-size: 1.5em;
    font-family: roboto;
    padding: 10px;
    text-align: justify;
}

.left{
    font-family: roboto;
}

.right{
    font-family: roboto;
}

.columnImages{
    width: 80%;
    display: block;
    margin: auto;
    padding: 5%;
    box-shadow: 10px 20px 8px 5px #353535;
    border-radius: 5%;
}
.pasado .columnImages, #compra img{
    background-image: url("../images/windowsxpwallpaper.jpg");
}

.presente .columnImages{
    background-image: url("../images/wondows10wallpaper.jpg");
}


.futuro .columnImages{
    background-image: url("../images/futuro.jpg");
    background-position: center;
}

.border{
    border-bottom: dashed;
}

.corta-float{
    clear: both;
}

.corta-float-cuarto{
    clear: none;
}

#historia h2{
    font-family: bold;
    font-size: 2em;
}

h1{
    font-family: retro;
    font-size: 2.3em;
}

/***************************** estilo para Galery ***********************/


.cuarto{
    width: 25%;
    float: left;
    box-sizing: border-box; /*MUY IMPORTANTE PARA QUE COJA EL PADDING DEL BORDE PA DENTRO*/
    padding: 2%;
    /*border: dotted #333333;*/
}


.cuarto img {
    width: 80%;
    background-image: url(../images/windows_xp_bliss-wide.webp);
    box-shadow: 10px 20px 8px 5px #353535;
    border-radius: 5%;
    display: block;
    margin: auto;
}

.cuarto h2{
    font-family: bold;
    text-align: center;
}



/********************** estilo guia de compras *********************/

#compra p{
    font-size: 1.5em;
    font-family: roboto;
    text-align: justify;
}

/************************ estilo footer **************************/

footer{
    text-align: center;
    padding: 3px;
    background-color: #333;
    color: white;
    font-size: 1.5em;
    font-family: roboto;
}

/********************** video responsive ******************/



/********************** media queries *********************/

@media screen and (max-width: 1000px) {

    .half{width: 100%;}

    .cuarto{width: 50%;}

    .corta-float-cuarto{
        clear: both;
    }

    #correo{
        font-size: 0.5em;
    }

}

@media screen and (max-width:500px){
    .cuarto{width: 100%;}
    #up{visibility: hidden;}
    #cta{visibility: hidden;}
    #hero h2{ visibility: hidden;}
    
    h1{
        font-size: 1.9em;
    }

    #responsive{
        width: 50px;
    }
}

@media screen and (max-width:240px){
    
    h1{
        font-size: 1em;
    }
}